
@import "tailwindcss";
@plugin "daisyui";
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  


}
/* * {
  border: 1px solid red !important;
} */
